@import '../../variables/theme.scss';

.navbar {
    &__wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem; 
        display: flex; 
        flex-direction: row; 
        position: fixed; 
        top: 0; 
        left: 0; 
        color: $white; 
        background-color: $dark-blue; 
        box-shadow: 0 10px 15px -3px $dark-blue-shadow-one, 0 4px 6px -2px $dark-blue-shadow-two; 
        width: 100vw; 
        height: 5rem; 
    }

    &__tooltip {
        padding: 0.5rem; 
        margin: 0.5rem; 
        position: absolute; 
        top: 3.5rem; 
        width: auto; 
        min-width: max-content; 
        color: $white; 
        background-color: $dark-blue; 
        box-shadow: 0 4px 6px -1px $dark-blue-shadow-one, 0 2px 4px -1px $dark-blue-shadow-two; 
        border-radius: 0.375rem; 
        font-size: 0.75rem;
        line-height: 1rem; 
        font-weight: 700; 
        transform: scale(0);
        transition-property: all; 
        transition-duration: 100ms; 
        --transform-scale-x: 0;
        --transform-scale-y: 0; 
    }

    &__icon {
        padding: 0.5rem; 
        margin: 0.5rem 0.25rem;
        display: flex; 
        justify-content: center; 
        position: relative; 
        align-items: center; 
        width: 3rem; 
        height: 3rem; 
        color: $white;
        background-color: $dark-blue-light; 
        border-radius: 1.5rem; 
        cursor: pointer; 
        transition-property: all; 
        transition-duration: 300ms; 
        transition-timing-function: linear; 

        &:hover {
            padding: 0.25rem; 
            background-color: $white; 
            color: $dark-blue; 

            .navbar__tooltip {
                transform: scale(1);
            }
        }
    }
}