//fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

//colors
$white: #ffffff;
$dark-blue: #111827;
$dark-blue-light: #1F2937;

$light-grey: #E5E7EB;

//shadows
$dark-blue-shadow-one: rgba(0, 0, 0, 0.1);
$dark-blue-shadow-two: rgba(0, 0, 0, 0.05);
$dark-blue-shadow-strong: rgba(0, 0, 0, 0.25);